<h2 xmlns="http://www.w3.org/1999/html">Manage Notifications</h2>

<h3>Active Notifications</h3>
<table id="notifications">
    <tr>
        <th>Sensor</th>
        <th>Trigger</th>
        <th>Recipients</th>
    </tr>
    <!--data rows dynamically added by setupController-->
</table>

<p id="message"></p>

<h3>Add Notification</h3>
<form action="/notifications/add" method="post" id="addNotification">

    <label for="selectSensor">Sensor:</label>
    <select name="sensorID" id="selectSensor" required>
        <option value="0">temperature</option>
        <option value="1">humidity</option>
        <option value="2">light</option>
    </select>

    <label for="operator">Operator:</label>
    <select name="operator" id="operator" required>
        <option value="EQUALS">=</option>
        <option value="NOT_EQUAL">!=</option>
        <option value="GREATER_THAN" selected>&GT;</option>
        <option value="LESS_THAN">&LT;</option>
        <option value="GREATER_THAN_OR_EQUAL">&ge;</option>
        <option value="LESS_THAN_OR_EQUAL">&le;</option>
    </select>

    <label for="thresholdValue">Threshold:</label>
    <input id="thresholdValue" type="text" name="thresholdValue" required>

    <label for="email">Email:</label>
    <input id="email" type="text" name="email" required>

    <input type="submit" id="submitAddNotification">

</form>

<footer>
    <script src="../javascript/notificationTableController.js"></script>
</footer>